*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.suo
*.opensdf
*.sdf
*.user
*.cache
*.vs/
SourceArt/**/*.png
SourceArt/**/*.tga
Binaries
Build
!Build/**/*.ico
Saved
Intermediate
DerivedDataCache
Packages
bin/
obj/
